page-annonce-a2 {

    .img-place{
        width:100%;
        height:12em;
        background: black;
      }
      .date{
        padding: .9em 1em;
        text-align: right;
        color: #666;
      }
      article h2{
        margin: 0;
        text-transform: uppercase;
        font-size:2em;
      }
      
      .category{
        border-bottom: 2em solid #0062A1;
        border-left: .5em solid transparent;
        height:0;
        display: block;
        color: white;
        line-height: 2em;
        position:absolute;
        left:-1.5em;
        top:.5em;
        padding:0 1em;
        text-transform: uppercase;
        margin-left:1em;
      }
      .category:before {
        content:'';
          width: 0; 
          height: 0; 
        overflow: hidden;
          border-top: .5em solid #0062A1;
          border-left:.5em solid transparent; 
        position:absolute;
        left:-.5em;
        top:2em;
      }
      .category:after {
        content:'';
          width: 0; 
          height: 0; 
        overflow: hidden;
          border-top: 1em solid transparent;
          border-bottom: 1em solid transparent; 
          border-left:.5em solid #0062A1; 
        position:absolute;
        right:-.5em;
        top:0;
      }
      
      .category.cat-work{border-bottom-color: color($colors, foyer);}
      .category.cat-work:before{border-top-color: color($colors, foyer);}
      .category.cat-work:after{border-left-color: color($colors, foyer);}

      .button-md-marker{
            height: 7rem;
    font-size: 2.3rem;
    border-radius: 100%;
    padding: 0px;
      }
      .ion-md-locate-marker:before {
    font-size: 4rem;
  }
  .input-wrapper {
    text-align: center;}

    .swiper-pagination-bullet-active {
    background: color($colors, sandy-brown);}

    .card-header-md {
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 0px;
    padding-left: 16px;}
    .swiper-slide img {
    margin-top: 8px;}
      ion-input{
            color: #444342;
      }

      .item-input ion-input, .item-input ion-textarea {
    color: #444342;}

    .row{
      align-items: center;
    }

}
