page-signup {    // Avatar
    .center{
        display: block;
        margin-left: 35%;
        margin-right: auto;
        width: 60%;
        font-size: 7rem;
        color: color($colors, dim-gray);
        /*text-align: center;*/
        margin : 0px;
        margin-left: 35%;
    }

    .connecter{
        text-align: center;
            margin-top: 5px;
    }

    .col {
        padding: 0px;}

    .item-md ion-avatar ion-img, .item-md ion-avatar img {
        border-radius: inherit;
        // overflow: hidden;
        width: 50%;
        height: 20%;
        // padding-left: 2.7rem;
    }

        
    .login-button {
        border-width: 2px;
        // border-style: bold;
        border-color: color($colors, gris-foncee);
        color: color($colors, gris);
        // background-color: transparent;
        }
    
                //color border input with orange solide with 1 px 
    ion-input{
        border-bottom: color($colors, sandy-brown) solid 1px;
        
      }
      .label-md{
        margin:0px;
      }
}
